.card {
  background-color: #a9a9a9;
  border: none;
}
.card-body {
  color: #002952;
  font-family: 'Racing Sans One', cursive;
}
.card-body-single {
  color: #002952;
  font-family: 'Racing Sans One', cursive;
}
.card-img, .card-img-bottom, .card-img-top  {
  height: 300px;
  width: 250px;
}
.card-body {
  width: 250px;
}