label {
  font-size: 20px;
  font-family: 'Racing Sans One', cursive;
  color: #01b4e4;
}
input {
  font-family: 'Racing Sans One', cursive;
}
select {
  font-family: 'Racing Sans One', cursive;
}
option {
  font-family: 'Racing Sans One', cursive;
}