@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

body {
  background-color: $favColor;
}

.card-img, .card-img-bottom, .card-img-top  {
  height: 300px;
  width: 250px;
  .card-title {
    width: 250px;
  }
}
